@import "variables";

#result-section {
  padding: $padding;
  border: $border;
  margin: $margin;
  border-radius: $border-radius;
  padding: 20px 40px;
  background-color: $base-color;
  color: $color;

  #error-holder {
    background-color: rgb(236, 138, 138);
    border: 1px solid red;
    display: none;
    padding: $padding;
    border-radius: $border-radius;
  }

  #sucsses-holder {
    display: none;
  }

  #search-url,
  #polarity,
  #subjectivity {
    font-style: italic;
    font-weight: $font-weight;
  }

  #loading {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
    top: calc(100% / 2 - 50px);
    left: calc(100% / 2 - 50px);
    z-index: 9999999;
  }
}
